body {
    margin: none;
    padding: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #3d425f;
}
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
nav div a {
    float: right;
}
nav a:hover {
    background-color: #425ca7;
    color: white;
}
main {
    padding: 1em;
}
footer {
    background-color: #333;
    color: white;
    padding: 14px;
}